

.cardAction_area{
  /* margin-left: 200px;
  margin-right: 200px; */
  /* padding: 5px; */
}

.main_header{
  /* padding-bottom: 40px; */
}

.card_component{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-bottom: 50px;
  
 
}


.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.card_component::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no_scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.card_component {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  



.button_menu:hover{ 
  background-color: yellow; /* Change the background color to a darker color on hover */
  color: black; /* Change the text color to white on hover */
  cursor: pointer;
}